<body>
    <%- include('./header') %>     
    
    <h1 class="text-center"><%= titulo %> </h1>

    <div class="text-center">
        <img class="img-fluid" src="/images/error.jpg" alt="Imagen de error" width="600" height="200">
    </div>

    <div class="text-center">
        <p>No se ha encontrado la pagina que buscas.
            Puedes volver a la pagina anterior, visita nuestra pagina de inicio
        </p>
    
    <a href="/" type="button" class="btn btn-primary">Visita la pagina de inicio</a>
    </div>

    <%- include('./template/footer') %> 
</body>
</html>