<!doctype html>
<html lang="es">
<!--
  @author: IMARTIN
  GitHub: https://github.com/IMARTIN2811/CRUD-Demo-MySQl-NodeJS
-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Conexión MySQL y Node">
    <meta name="author" content="Parzibyte">
    <title>Conexión MySQL y Node</title>
    <!-- Cargar el CSS de Boostrap-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- Cargar estilos propios -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!--Carga los iconos de font-->
    <script src="https://kit.fontawesome.com/dad491e683.js" crossorigin="anonymous"></script>

</head>
<body>
    <%- include('template/navbar') %> 